# Managed by Ansible (role control_plane). Secrets are Podman secrets, not here.
IPO_PLATFORM=/etc/ipo/platform.yaml
IPO_CLOUD=openstack
OS_CLOUD={{ control_plane_os_cloud }}
IPO_OS_NETWORK=sandbox-net
IPO_OS_SECURITY_GROUPS=sg-sandbox.sandbox
IPO_AGENTS={% for gw in control_plane_gateways %}{{ gw }}=https://{{ ipo_platform.network.hosts[gw].mgmt }}:8443{{ '' if loop.last else ',' }}{% endfor %}

IPO_AGENT_CERT={{ ipo_pki_dir }}/host.crt
IPO_AGENT_KEY={{ ipo_pki_dir }}/host.key
IPO_AGENT_CA={{ ipo_pki_dir }}/root_ca.crt
IPO_VIP={{ ipo_platform.network.vip }}
IPO_GRAFANA_URL={{ control_plane_grafana_url }}
IPO_WORKERS={{ control_plane_workers }}
IPO_BIND=0.0.0.0:{{ control_plane_api_port }}
IPO_MIGRATE={{ 1 if control_plane_migrate else 0 }}
IPO_ADMIN_EMAIL={{ control_plane_admin_email }}
IPO_USERS_FILE=/run/secrets/ipo-users
