[defaults]
inventory = inventory/openstack.yml
roles_path = roles
filter_plugins = filter_plugins
interpreter_python = auto_silent
forks = 10
nocows = true

[ssh_connection]
# Also lets become_user to an unprivileged user (the rootless Podman user) work without ACLs.
pipelining = true
