# Managed by Ansible (role gw_agent).
IPO_AGENT_NAME={{ inventory_hostname }}
IPO_SIGNING_PUBLIC_KEY={{ gw_agent_signing_public_key }}
IPO_SANDBOX_CIDR={{ ipo_platform.ip_pool.cidr }}
IPO_CONFIG_DIR=/var/lib/ipo-agent
IPO_VRRP_STATE_FILE=/run/ipo/vrrp_state
IPO_VRRP_FAULT_FILE=/run/ipo/fault
IPO_TRAEFIK_API=http://127.0.0.1:8080
IPO_TRAEFIK_WEB=http://127.0.0.1:80
IPO_ACCESS_LOG=/var/log/traefik/access.log
IPO_AGENT_LISTEN={{ gw_agent_listen }}
IPO_AGENT_CERT={{ ipo_pki_dir }}/host.crt
IPO_AGENT_KEY={{ ipo_pki_dir }}/host.key
IPO_AGENT_CA={{ ipo_pki_dir }}/root_ca.crt
IPO_AGENT_ADMIN_CNS={{ gw_agent_admin_cns }}
IPO_METRICS_ADDR={{ gw_agent_metrics_addr }}
IPO_CP_URL={{ gw_agent_cp_url }}
IPO_CP_EMAIL={{ gw_agent_cp_email }}
IPO_CP_PASSWORD={{ gw_agent_cp_password }}
